:root {
  --md-source: #4C1D95;
  /* primary */
  --md-ref-palette-primary0: 0 0% 0%;
  --md-ref-palette-primary5: 264 100% 12%;
  --md-ref-palette-primary10: 266 100% 17%;
  --md-ref-palette-primary15: 272 83% 21%;
  --md-ref-palette-primary20: 266 92% 28%;
  --md-ref-palette-primary25: 264 69% 34%;
  --md-ref-palette-primary30: 263 58% 40%;
  --md-ref-palette-primary35: 262 51% 45%;
  --md-ref-palette-primary40: 261 45% 50%;
  --md-ref-palette-primary50: 261 57% 60%;
  --md-ref-palette-primary60: 261 81% 71%;
  --md-ref-palette-primary70: 261 100% 80%;
  --md-ref-palette-primary80: 261 100% 87%;
  --md-ref-palette-primary90: 266 100% 93%;
  --md-ref-palette-primary95: 273 100% 96%;
  --md-ref-palette-primary98: 293 100% 98%;
  --md-ref-palette-primary99: 300 100% 99%;
  --md-ref-palette-primary100: 0 0% 100%;
  /* secondary */
  --md-ref-palette-secondary0: 0 0% 0%;
  --md-ref-palette-secondary5: 261 38% 9%;
  --md-ref-palette-secondary10: 263 27% 13%;
  --md-ref-palette-secondary15: 270 21% 17%;
  --md-ref-palette-secondary20: 262 17% 21%;
  --md-ref-palette-secondary25: 261 15% 26%;
  --md-ref-palette-secondary30: 263 14% 30%;
  --md-ref-palette-secondary35: 263 12% 35%;
  --md-ref-palette-secondary40: 263 10% 40%;
  --md-ref-palette-secondary50: 263 9% 50%;
  --md-ref-palette-secondary60: 263 11% 60%;
  --md-ref-palette-secondary70: 265 16% 70%;
  --md-ref-palette-secondary80: 266 26% 81%;
  --md-ref-palette-secondary90: 268 65% 92%;
  --md-ref-palette-secondary95: 273 100% 96%;
  --md-ref-palette-secondary98: 293 100% 98%;
  --md-ref-palette-secondary99: 300 100% 99%;
  --md-ref-palette-secondary100: 0 0% 100%;
  /* tertiary */
  --md-ref-palette-tertiary0: 0 0% 0%;
  --md-ref-palette-tertiary5: 340 71% 8%;
  --md-ref-palette-tertiary10: 341 52% 13%;
  --md-ref-palette-tertiary15: 349 42% 17%;
  --md-ref-palette-tertiary20: 342 33% 22%;
  --md-ref-palette-tertiary25: 345 29% 26%;
  --md-ref-palette-tertiary30: 344 26% 31%;
  --md-ref-palette-tertiary35: 345 23% 36%;
  --md-ref-palette-tertiary40: 345 22% 41%;
  --md-ref-palette-tertiary50: 345 19% 51%;
  --md-ref-palette-tertiary60: 346 26% 61%;
  --md-ref-palette-tertiary70: 346 38% 72%;
  --md-ref-palette-tertiary80: 346 67% 83%;
  --md-ref-palette-tertiary90: 347 100% 93%;
  --md-ref-palette-tertiary95: 351 100% 96%;
  --md-ref-palette-tertiary98: 0 100% 99%;
  --md-ref-palette-tertiary99: 300 100% 99%;
  --md-ref-palette-tertiary100: 0 0% 100%;
  /* error */
  --md-ref-palette-error0: 0 0% 0%;
  --md-ref-palette-error5: 359 100% 9%;
  --md-ref-palette-error10: 358 100% 13%;
  --md-ref-palette-error15: 358 100% 16%;
  --md-ref-palette-error20: 357 100% 21%;
  --md-ref-palette-error25: 357 100% 25%;
  --md-ref-palette-error30: 356 100% 29%;
  --md-ref-palette-error35: 357 92% 34%;
  --md-ref-palette-error40: 0 75% 42%;
  --md-ref-palette-error50: 2 73% 53%;
  --md-ref-palette-error60: 4 100% 64%;
  --md-ref-palette-error70: 6 100% 75%;
  --md-ref-palette-error80: 6 100% 84%;
  --md-ref-palette-error90: 6 100% 92%;
  --md-ref-palette-error95: 9 100% 96%;
  --md-ref-palette-error98: 7 100% 98%;
  --md-ref-palette-error99: 300 100% 99%;
  --md-ref-palette-error100: 0 0% 100%;
  /* neutral */
  --md-ref-palette-neutral0: 0 0% 0%;
  --md-ref-palette-neutral5: 270 11% 7%;
  --md-ref-palette-neutral10: 280 5% 11%;
  --md-ref-palette-neutral15: 280 4% 15%;
  --md-ref-palette-neutral20: 280 3% 19%;
  --md-ref-palette-neutral25: 285 3% 24%;
  --md-ref-palette-neutral30: 270 3% 28%;
  --md-ref-palette-neutral35: 285 2% 33%;
  --md-ref-palette-neutral40: 285 2% 37%;
  --md-ref-palette-neutral50: 285 2% 47%;
  --md-ref-palette-neutral60: 288 2% 57%;
  --md-ref-palette-neutral70: 300 2% 67%;
  --md-ref-palette-neutral80: 300 5% 78%;
  --md-ref-palette-neutral90: 300 9% 89%;
  --md-ref-palette-neutral95: 310 23% 95%;
  --md-ref-palette-neutral98: 320 75% 98%;
  --md-ref-palette-neutral99: 300 100% 99%;
  --md-ref-palette-neutral100: 0 0% 100%;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: 0 0% 0%;
  --md-ref-palette-neutral-variant5: 257 18% 8%;
  --md-ref-palette-neutral-variant10: 263 13% 12%;
  --md-ref-palette-neutral-variant15: 278 10% 16%;
  --md-ref-palette-neutral-variant20: 263 8% 20%;
  --md-ref-palette-neutral-variant25: 267 7% 25%;
  --md-ref-palette-neutral-variant30: 267 6% 29%;
  --md-ref-palette-neutral-variant35: 267 5% 34%;
  --md-ref-palette-neutral-variant40: 267 5% 38%;
  --md-ref-palette-neutral-variant50: 270 4% 48%;
  --md-ref-palette-neutral-variant60: 270 5% 58%;
  --md-ref-palette-neutral-variant70: 273 7% 68%;
  --md-ref-palette-neutral-variant80: 278 10% 79%;
  --md-ref-palette-neutral-variant90: 278 22% 90%;
  --md-ref-palette-neutral-variant95: 280 55% 96%;
  --md-ref-palette-neutral-variant98: 293 100% 98%;
  --md-ref-palette-neutral-variant99: 300 100% 99%;
  --md-ref-palette-neutral-variant100: 0 0% 100%;
  /* light */
  --md-sys-color-primary-light: var(--md-ref-palette-primary40);
  --md-sys-color-primary-container-light: var(--md-ref-palette-primary90);
  --md-sys-color-on-primary-light: var(--md-ref-palette-primary100);
  --md-sys-color-on-primary-container-light: var(--md-ref-palette-primary10);
  --md-sys-color-secondary-light: var(--md-ref-palette-secondary40);
  --md-sys-color-secondary-container-light: var(--md-ref-palette-secondary90);
  --md-sys-color-on-secondary-light: var(--md-ref-palette-secondary100);
  --md-sys-color-on-secondary-container-light: var(--md-ref-palette-secondary10);
  --md-sys-color-tertiary-light: var(--md-ref-palette-tertiary40);
  --md-sys-color-tertiary-container-light: var(--md-ref-palette-tertiary90);
  --md-sys-color-on-tertiary-light: var(--md-ref-palette-tertiary100);
  --md-sys-color-on-tertiary-container-light: var(--md-ref-palette-tertiary10);
  --md-sys-color-error-light: var(--md-ref-palette-error40);
  --md-sys-color-error-container-light: var(--md-ref-palette-error90);
  --md-sys-color-on-error-light: var(--md-ref-palette-error100);
  --md-sys-color-on-error-container-light: var(--md-ref-palette-error10);
  --md-sys-color-outline-light: var(--md-ref-palette-neutral-variant50);
  --md-sys-color-background-light: var(--md-ref-palette-neutral99);
  --md-sys-color-on-background-light: var(--md-ref-palette-neutral10);
  --md-sys-color-surface-light: var(--md-ref-palette-neutral99);
  --md-sys-color-on-surface-light: var(--md-ref-palette-neutral10);
  --md-sys-color-surface-variant-light: var(--md-ref-palette-neutral-variant90);
  --md-sys-color-on-surface-variant-light: var(--md-ref-palette-neutral-variant30);
  --md-sys-color-inverse-surface-light: var(--md-ref-palette-neutral20);
  --md-sys-color-inverse-on-surface-light: var(--md-ref-palette-neutral95);
  --md-sys-color-inverse-primary-light: var(--md-ref-palette-primary80) ;
  --md-sys-color-shadow-light: 0, 0%, 0%;
  --md-sys-color-surface-tint-light: var(--md-ref-palette-primary40);
  --md-sys-color-outline-variant-light: var(--md-ref-palette-neutral-variant80);
  --md-sys-color-scrim-light: 0, 0%, 0%;
  /* dark */
  --md-sys-color-primary-dark: var(--md-ref-palette-primary80);
  --md-sys-color-primary-container-dark: var(--md-ref-palette-primary30);
  --md-sys-color-on-primary-dark: var(--md-ref-palette-primary20);
  --md-sys-color-on-primary-container-dark: var(--md-ref-palette-primary90);
  --md-sys-color-secondary-dark: var(--md-ref-palette-secondary80);
  --md-sys-color-secondary-container-dark: var(--md-ref-palette-secondary30);
  --md-sys-color-on-secondary-dark: var(--md-ref-palette-secondary20);
  --md-sys-color-on-secondary-container-dark: var(--md-ref-palette-secondary90);
  --md-sys-color-tertiary-dark: var(--md-ref-palette-tertiary80);
  --md-sys-color-tertiary-container-dark: var(--md-ref-palette-tertiary30);
  --md-sys-color-on-tertiary-dark: var(--md-ref-palette-tertiary20);
  --md-sys-color-on-tertiary-container-dark: var(--md-ref-palette-tertiary90);
  --md-sys-color-error-dark: var(--md-ref-palette-error80);
  --md-sys-color-error-container-dark: var(--md-ref-palette-error30);
  --md-sys-color-on-error-dark: var(--md-ref-palette-error20);
  --md-sys-color-on-error-container-dark: var(--md-ref-palette-error90);
  --md-sys-color-outline-dark: var(--md-ref-palette-neutral-variant60);
  --md-sys-color-background-dark: var(--md-ref-palette-neutral10);
  --md-sys-color-on-background-dark: var(--md-ref-palette-neutral90);
  --md-sys-color-surface-dark: var(--md-ref-palette-neutral10);
  --md-sys-color-on-surface-dark: var(--md-ref-palette-neutral90);
  --md-sys-color-surface-variant-dark: var(--md-ref-palette-neutral-variant30);
  --md-sys-color-on-surface-variant-dark: var(--md-ref-palette-neutral-variant80);
  --md-sys-color-inverse-surface-dark: var(--md-ref-palette-neutral90);
  --md-sys-color-inverse-on-surface-dark: var(--md-ref-palette-neutral10);
  --md-sys-color-inverse-primary-dark: var(--md-ref-palette-primary40);
  --md-sys-color-shadow-dark: 0 0% 0%;
  --md-sys-color-surface-tint-dark: var(--md-ref-palette-primary80);
  --md-sys-color-outline-variant-dark: var(--md-ref-palette-neutral-variant30);
  --md-sys-color-scrim-dark: 0 0% 0%;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
